
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position:fixed;
    gap: 30px;
    justify-content: center;
    width: 100%;
   
}


body {
    padding-top: 50px;
    color: darkgreen;
    font: "comic sans ms";
}

.big-text{
    font-style: italic;
    font-size: 40px;
    text-align: center;
}

.homepage-images {
    display: flex;
    flex-wrap: nowrap;
    
    justify-content: center;
    gap: 20px;
    width: 100%;
    
}

.homepage-images img {

    max-height: 400px;
    width: auto;
    
}


#story-form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style:inset;
    border-color: rgb(159, 159, 144);
    gap: 10px;
    padding: 25px;
    justify-self: center;
    width: fit-content;
    margin-top: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style:inset;
    border-color: rgb(159, 159, 144);
    gap: 10px;
    padding: 25px;
    justify-self: center;
    width: fit-content;
    margin-top: 20px;
}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style:inset;
    border-color: rgb(159, 159, 144);
    gap: 10px;
    padding: 25px;
    justify-self: center;
    width: fit-content;
    margin-top: 20px;
}

.top-band {
    position: fixed;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 50px;         
    background-color: darkgreen;
}

/*align items I found to not work because it leaves a gap at the left and top margins??? Reminding myself to find out why later
*/
.bottom-band {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;          
    background-color: darkgreen;
}


#story {
    display:block;
}

#description {
    overflow-y: scroll;
    display:block;
}